In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('sample file.xlsx')

In [3]:
df.head(10)

,data.timestamp,data.number,data.application,data.id,data.rawTranscriptions,Unnamed: 5
0,2021-08-26T17:47:13.727+0000,2039297081,ARI6,1.630000e+09,"[""number to reach us"",""simply hang up""]",NaN
1,2021-08-26T17:47:14.822+0000,2063627417,ARI6,1.630000e+09,"[""at the tone please record your message"",""to ...",NaN
2,2021-08-26T17:47:18.258+0000,2127376754,ARI7,1.630000e+09,"[""hello""]",NaN
3,2021-08-26T17:47:18.514+0000,2524922696,ARI7,1.630000e+09,"[""so it did"",""but of what"",""okay""]",NaN
4,2021-08-26T17:47:19.214+0000,2056317414,ARI6,1.630000e+09,"[""right back available well pick up it back to...",NaN
5,2021-08-26T17:47:20.029+0000,8602280129,ARI6,1.630000e+09,"[""oh are you im trying"",""sure just in for you""...",NaN
6,2021-08-26T17:47:20.571+0000,2032612349,ARI6,1.630000e+09,"[""well""]",NaN
7,2021-08-26T17:47:20.849+0000,7186662547,ARI7,1.630000e+09,"[""hello""]",NaN
8,2021-08-26T17:47:21.283+0000,9362543076,ARI6,1.630000e+09,"[""thats it""]",NaN
9,2021-08-26T17:47:21.768+0000,2707823623,ARI7,1.630000e+09,"[""what do you want"",""remove this number from t...",NaN

In [4]:
df = df.iloc[: , :-1]

df.head(10)

,data.timestamp,data.number,data.application,data.id,data.rawTranscriptions
0,2021-08-26T17:47:13.727+0000,2039297081,ARI6,1.630000e+09,"[""number to reach us"",""simply hang up""]"
1,2021-08-26T17:47:14.822+0000,2063627417,ARI6,1.630000e+09,"[""at the tone please record your message"",""to ..."
2,2021-08-26T17:47:18.258+0000,2127376754,ARI7,1.630000e+09,"[""hello""]"
3,2021-08-26T17:47:18.514+0000,2524922696,ARI7,1.630000e+09,"[""so it did"",""but of what"",""okay""]"
4,2021-08-26T17:47:19.214+0000,2056317414,ARI6,1.630000e+09,"[""right back available well pick up it back to..."
5,2021-08-26T17:47:20.029+0000,8602280129,ARI6,1.630000e+09,"[""oh are you im trying"",""sure just in for you""..."
6,2021-08-26T17:47:20.571+0000,2032612349,ARI6,1.630000e+09,"[""well""]"
7,2021-08-26T17:47:20.849+0000,7186662547,ARI7,1.630000e+09,"[""hello""]"
8,2021-08-26T17:47:21.283+0000,9362543076,ARI6,1.630000e+09,"[""thats it""]"
9,2021-08-26T17:47:21.768+0000,2707823623,ARI7,1.630000e+09,"[""what do you want"",""remove this number from t..."

In [5]:
df['data.rawTranscriptions'][0]

'["number to reach us","simply hang up"]'

In [6]:
df['data.rawTranscriptions'].str.split(',')

0            [["number to reach us", "simply hang up"]]
1     [["at the tone please record your message", "t...
2                                           [["hello"]]
3                [["so it did", "but of what", "okay"]]
4     [["right back available well pick up it back t...
                            ...
95                                    [["soon as box"]]
96    [["members will return your call just as soon ...
97        [["after the beep we will return your call"]]
98                                             [["oh"]]
99             [["hello", "no i dont today thank you"]]
Name: data.rawTranscriptions, Length: 100, dtype: object

In [7]:
df['data.rawTranscriptions'].dtype

dtype('O')

In [12]:
# df['data.rawTranscriptions'].astype('list')

TypeError: data type 'list' not understood

In [8]:
disallowed_characters = '[]'

for character in disallowed_characters:
    df['data.rawTranscriptions'] = df['data.rawTranscriptions'].str.replace(character, "")

<ipython-input-8-d681444ae37a>:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  df['data.rawTranscriptions'] = df['data.rawTranscriptions'].str.replace(character, "")

In [10]:
df.head()

,data.timestamp,data.number,data.application,data.id,data.rawTranscriptions
0,2021-08-26T17:47:13.727+0000,2039297081,ARI6,1.630000e+09,"""number to reach us"",""simply hang up"""
1,2021-08-26T17:47:14.822+0000,2063627417,ARI6,1.630000e+09,"""at the tone please record your message"",""to r..."
2,2021-08-26T17:47:18.258+0000,2127376754,ARI7,1.630000e+09,"""hello"""
3,2021-08-26T17:47:18.514+0000,2524922696,ARI7,1.630000e+09,"""so it did"",""but of what"",""okay"""
4,2021-08-26T17:47:19.214+0000,2056317414,ARI6,1.630000e+09,"""right back available well pick up it back to ..."

In [ ]:
# df['data.rawTranscriptions'][0].split(',')